div#header,
div#logo,
body, 
div#footer{
    display: block;
    position: relative;
}

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 60em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 85%;
    line-height: 140%;
    color: #333;
    width: 100%;
    height: 100%;
}

div#header {
    background-color: #A9D0F5;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color:  #0431B4;
    float: left;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: blue;
    font-size: 90%;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    background-color: #A9D0F5;
    border-top: solid 2px black;
    color: #555;
    font-size: 80%;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 {
    font-family: verdana;
    font-weight: bold;
    border-bottom: 1px dotted black;
}    

h1 {
    font-size: 130%;
    color: #8A0808;
}

h2 {
    font-size: 110%;
    color: #0431B4;
}

h3 {
    font-size: 95%;
    color: #0431B4;
}

h4 {
    font-size: 90%;
    font-style: italic;
    color: #0431B4;
}

h5 {
    font-size: 90%;
    font-style: italic;
}


div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}

img {
    border: none;
    display: block;
    margin: 6px auto 30px auto;
}

ul {
    list-style-type: square;
    padding-left: 1em;
    margin-left: 1em;
}

pre { font-size: 100%; }
code { font-size: 120%}

/* Generated by pandoc. for code syntax highlighting  */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode span.kw { color: #007020; font-weight: bold;} 
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.re { }

dd p {
    margin-top: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}	

th {
    color: #0431B4;
    background-color: #A9D0F5;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
